body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #0b3c5d;
    color: white;
    padding: 40px;
    text-align: center;
}

.slogan {
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
}

section {
    background: white;
    margin: 30px auto;
    padding: 30px;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2 {
    color: #0b3c5d;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0b3c5d;
    color: white;
}
/* Responsive */
@media (max-width: 768px) {

    header {
    padding: 60px 20px;
}


    header h1 {
        font-size: 24px;
    }

    .slogan {
        font-size: 15px;
    }

    section {
        margin: 15px;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    body {
        font-size: 16px;
    }
}
<a href="https://wa.me/593962255090" class="whatsapp" target="_blank">
    WhatsApp
</a>
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.whatsapp:hover {
    background-color: #1ebc5a;
}
<p>
Email:
<a href="mailto:contacto@rcingenieriaintegral.com">
contacto@rcingenieriaintegral.com
</a>
</p>
.proyecto {
    margin-bottom: 25px;
}

.proyecto h3 {
    color: #0b3c5d;
    margin-bottom: 8px;
}
.logo {
    display: block;
    max-width: 320px;   /* tamaño grande */
    width: 90%;
    height: auto;
    margin: 0 auto 25px auto; /* centrado */
}
.proyecto img {
    width: 100%;
    height: auto;
    max-height: 420px;
    object-fit: contain;
    background-color: #f4f6f8;
    border-radius: 10px;
    margin-bottom: 15px;
}

}
nav {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0b3c5d;
    font-weight: bold;
}

nav a:hover {
    color: #0077cc;
}
html {
    scroll-behavior: smooth;
}









